.table {
    margin: auto;
    width: 100%;
    padding: 10px;
}

thead {
    height: auto;
}


tbody tr {
    text-align: center;
    /* height: 50px; */
}

.search-table {
    display: flex;
    text-align: center;
    justify-content: center;
}

.search-table>div {
    margin-right: 20px;    
    font-weight: bold;
}

.hide {
    display: none;
}

.txtcolumn {
    text-align: center;
}
