.table {
    margin: auto;
    width: 90%;
    padding: 10px;
}



th:first-child {
    width: 100px;
    height: 70px;
}


th {
    background-color: grey;
    color: black;
    width: 300px;
}

td {
    text-align: center;
    height: 50px;
}